#GlobalModalOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-size: 100% calc(100dvh - var(--header-height, 64px));
  background-position: 0 var(--header-height, 64px);
  -webkit-clip-path: polygon(0 var(--header-height, 64px), 100% var(--header-height, 64px), 100% 100%, 0 100%);
          clip-path: polygon(0 var(--header-height, 64px), 100% var(--header-height, 64px), 100% 100%, 0 100%);
}#CustomDebugPanel ol li {
  margin-left: 0.8rem;
}
#CustomDebugPanel ol li kbd {
  border-radius: 0.375rem;
  background-color: #e5e7eb;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}#TrafficLight .trafficLightFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2.875rem);
  height: calc(100% - 2.375rem + 0.0625rem);
  transform: translate(-50%, -50%);
  border-radius: 2rem;
}
#TrafficLight .trafficLightWrapper {
  position: absolute;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  opacity: 0;
  -webkit-mask-image: linear-gradient(to bottom, white 3%, transparent 28%, transparent 69%, white 100%);
          mask-image: linear-gradient(to bottom, white 3%, transparent 28%, transparent 69%, white 100%);
}
#TrafficLight .trafficLightFrame.green {
  border: 0.0625rem solid #40965e;
  box-shadow: 0px 0px 0.6rem #3e9274, inset 0px 0px 0.4313rem rgba(79, 222, 128, 0.05), inset 0px 0px 1.125rem rgba(27, 118, 58, 0.2), inset 0px 0px 2.5rem rgba(31, 87, 95, 0.4);
}
#TrafficLight .trafficLightFrame.yellow {
  box-shadow: 0px 0px 0.6rem #b4604d, inset 0px 0px 0.4313rem rgba(222, 174, 79, 0.05), inset 0px 0px 1.125rem rgba(118, 82, 27, 0.2), inset 0px 0px 2.5rem rgba(95, 62, 31, 0.4);
}
#TrafficLight .trafficLightFrame.red {
  box-shadow: 0px 0px 0.6rem #831a13, inset 0px 0px 0.4313rem rgba(222, 88, 79, 0.05), inset 0px 0px 1.125rem rgba(118, 27, 49, 0.2), inset 0px 0px 2.5rem rgba(95, 31, 77, 0.4);
}
#TrafficLight .trafficLightFrame.win {
  box-shadow: 0px 0px 0.6rem #8d3c0e, inset 0px 0px 0.4313rem rgba(222, 182, 79, 0.3137254902), inset 0px 0px 1.125rem rgba(118, 92, 27, 0.3137254902), inset 0px 0px 2.5rem rgba(95, 35, 31, 0.4392156863);
}
#TrafficLight .trafficLightFrame.yellow::after,
#TrafficLight .trafficLightFrame.red::after,
#TrafficLight .trafficLightFrame.win::after,
#TrafficLight .trafficLightFrame.normal::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.0625rem solid transparent;
  border-radius: 2rem;
  background-origin: border-box;
  content: "";
  -webkit-mask-clip: padding-box, border-box;
          mask-clip: padding-box, border-box;
  -webkit-mask-image: linear-gradient(white, white), linear-gradient(white, white);
          mask-image: linear-gradient(white, white), linear-gradient(white, white);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}
#TrafficLight .trafficLightFrame.yellow::after {
  background-image: linear-gradient(to bottom, #b48e60 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 87%, #3b2d1c 100%);
}
#TrafficLight .trafficLightFrame.red::after {
  background-image: linear-gradient(to bottom, #921e1e 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 87%, #4d1010 97%, #731818 100%);
}
#TrafficLight .trafficLightFrame.win::after {
  background-image: linear-gradient(to bottom, #b5ab8a 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 75%, #67391e 96%, #b5ab8a 100%);
}
#TrafficLight .trafficLightFrame.normal::after {
  background-image: linear-gradient(to bottom, rgba(184, 152, 114, 0.3764705882) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 87%, rgba(139, 108, 72, 0.3764705882) 100%);
}
#TrafficLight.isCompact .trafficLightWrapper {
  -webkit-mask-image: unset;
          mask-image: unset;
}
#TrafficLight.isCompact .trafficLightFrame::after, #TrafficLight.isCompact .trafficLightFrame {
  border-radius: 1.5rem;
}
#TrafficLight.isCompact .trafficLightFrame.normal::after {
  background-image: linear-gradient(to bottom, rgba(181, 171, 138, 0.3764705882) 0%, rgba(103, 57, 30, 0.3764705882) 54%, rgba(181, 171, 138, 0.3764705882) 100%);
}
#TrafficLight.isCompact .trafficLightWrapper.normal {
  -webkit-mask-image: linear-gradient(to bottom, #ffffff 3%, rgba(255, 255, 255, 0.3764705882) 34%, rgba(255, 255, 255, 0.3764705882) 69%, #ffffff 100%);
          mask-image: linear-gradient(to bottom, #ffffff 3%, rgba(255, 255, 255, 0.3764705882) 34%, rgba(255, 255, 255, 0.3764705882) 69%, #ffffff 100%);
}